{% extends 'dashboard/base.html' %}
{% block content %}
<div class="page page-sticky-sidebar">
  <div class="app-header" style="display: none; visibility: hidden;">
  </div>
  <div class="position-relative d-flex flex-row flex-fill page-wrapper">
    <div
      class="sidebar bg-dark page-sidebar"
      style="transform:translateX(0);min-width:280px;max-width:280px"
    >
      <div class="h-100 d-flex flex-column flex-1">
        <nav
          class="navbar navbar-expand-md  d-none d-lg-flex d-xl-flex bg-dark"
        >
          <a href="#" class="navbar-brand">
            <svg width="24" height="24">
              <use xlink:href="#logo-icon"></use>
            </svg>
            <span class="ml-3">Eleven</span>
          </a>
          <a href="javascript:;" class="nav-toggle">
            <span class="animated-icon">
              <div
                style="width:24px;height:24px"
                data-animation-path="vendor/animated-icons/menu-back/menu-back.json"
                data-anim-loop="false"
              ></div>
            </span>
          </a>
        </nav>
        <ul class="d-block scroll-y flex-1 py-3 nav flex-column">
          <div class="sidebar-item">
            <li class="nav-item">
              <a
                class="nav-link d-flex align-items-center nav-link"
                href="{% url 'index' %}"
              >
                <span class="animated-icon">
                  <div
                    style="width:18px;height:18px"
                    data-animation-path="vendor/animated-icons/shopping-bag/shopping-bag.json"
                    data-anim-loop="false"></div>
                </span>
                <span class="mr-auto menu-name">Boshqaruv paneli</span>
              </a>
            </li>
          </div>
          <div class="sidebar-item">
            <li class="nav-item ">
              <a
                class="nav-link d-flex align-items-center nav-link"
                href="{% url 'contact' %}"
              >
                <span class="animated-icon">
                  <div
                    style="width:18px;height:18px"
                    data-animation-path="vendor/animated-icons/shopping-bag/shopping-bag.json"
                    data-anim-loop="false"></div>
                </span>
                <span class="mr-auto menu-name">Murojatlat</span>
              </a>
            </li>
          </div>
          <div class="sidebar-item">
            <li class="nav-item ">
              <a
                class="nav-link d-flex align-items-center nav-link"
                href="{% url 'banner' %}"
              >
                <span class="animated-icon">
                  <div
                    style="width:18px;height:18px"
                    data-animation-path="vendor/animated-icons/shopping-bag/shopping-bag.json"
                    data-anim-loop="false"></div>
                </span>
                <span class="mr-auto menu-name">Banner</span>
              </a>
            </li>
          </div>
          <div class="sidebar-item">
            <li class="nav-item">
              <a
                class="nav-link d-flex align-items-center nav-link"
                href="{% url 'info' %}"
              >
                <span class="animated-icon">
                  <div
                    style="width:18px;height:18px"
                    data-animation-path="vendor/animated-icons/shopping-bag/shopping-bag.json"
                    data-anim-loop="false"></div>
                </span>
                <span class="mr-auto menu-name">ma'lumot</span>
              </a>
            </li>
          </div>
          <div class="sidebar-item">
            <li class="nav-item active">
              <a
                class="nav-link d-flex align-items-center nav-link"
                href="{% url 'cell' %}"
              >
                <span class="animated-icon">
                  <div
                    style="width:18px;height:18px"
                    data-animation-path="vendor/animated-icons/shopping-bag/shopping-bag.json"
                    data-anim-loop="false"></div>
                </span>
                <span class="mr-auto menu-name">Xizmatlar</span>
              </a>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div class="page-overlay" style="visibility:hidden;opacity:0"></div>

    <div
      class="position-relative d-flex flex-column flex-fill page-content"
      style="min-width:0"
    >

      <div class="page-inner bg-light ">
        <div class="mb-3 card">
          <div class="card-header">Xizmatlar</div>
          <button class="btn btn-success"><a href="{% url 'createcell' %}">qoshish</a></button>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>

                <th>nomi</th>
                <th>yozuvi</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for cel in cell %}
              <tr>
                <td scope="row">{{forloop.counter}}</td>
                <td>{{ cel.title }}</td>
                <td>{{ cel.info }}</td>
                <td><a href="{% url 'deletecell' cel.id %}">ochirish</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}