{% extends 'dashboard/base.html' %}
{% block content %}

    <div class="page page-sticky-sidebar">
      <div class="app-header" style="display: none; visibility: hidden;">
      </div>
      <div class="position-relative d-flex flex-row flex-fill page-wrapper">
        <div class="page-overlay" style="visibility:hidden;opacity:0"></div>

        <div
          class="position-relative d-flex flex-column flex-fill page-content"
          style="min-width:0"
        >
          <div class="page-inner bg-light ">
            <div class="row">
              <div class="col-xs-16 col-sm-12">
                <div class="mb-5 card">
                  <div class="card-header">
                    <b>Malumot yaratish</b>
                  </div>
                  <div class="card-body">
                    <form method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                        <label class="">Nomer</label>
                        <input
                          class="form-control"
                          id="exampleNumber"
                          name="phone"
                          placeholder="telefon nomer"
                          type="phone"
                        />
                      </div>

                      <div class="form-group">
                        <label class="" >email</label>
                        <input
                          class="form-control"
                          id="examplePassword"
                          name="email"
                          placeholder="email"
                        />
                      </div>
                      <div class="form-group">
                        <label class="">Joylashuv</label>
                        <input
                          class="form-control"
                          id="exampleText"
                          name="region"
                        />
                      </div>
                      <div class="form-group">
                        <label class="">Joylashuv haritada</label>
                        <input
                          class="form-control"
                          id="exampleText"
                          name="region_map"
                        />
                      </div>
                      <button class="btn btn-secondary" type="submit">qoshish</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}