{% extends 'dashboard/base.html' %}
{% block content %}

    <div class="page page-sticky-sidebar">
      <div class="app-header" style="display: none; visibility: hidden;">
      </div>
      <div class="position-relative d-flex flex-row flex-fill page-wrapper">
        <div class="page-overlay" style="visibility:hidden;opacity:0"></div>

        <div
          class="position-relative d-flex flex-column flex-fill page-content"
          style="min-width:0"
        >
          <div class="page-inner bg-light ">
            <div class="row">
              <div class="col-xs-16 col-sm-12">
                <div class="mb-5 card">
                  <div class="card-header">
                    <b>Banner yaratish</b>
                  </div>
                  <div class="card-body">
                    <form method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                        <label class="">Nomi</label>
                        <input
                          class="form-control"
                          id="exampleEmail"
                          name="title"
                          placeholder="nomi"
                          type="title"
                        />
                      </div>

                      <div class="form-group">
                        <label class="" >Mavzusi</label>
                        <input
                          class="form-control"
                          id="examplePassword"
                          name="sub_title"
                          placeholder="mavzu"
                        />
                      </div>
                      <div class="form-group">
                        <label class="" for="exampleText">yozuvi</label>
                        <textarea
                          class="form-control"
                          id="exampleText"
                          name="body"
                        ></textarea>
                      </div>
                      <button class="btn btn-secondary" type="submit">qoshish</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}