{% extends 'dashboard/base.html' %}
{% block content %}

    <div class="page page-sticky-sidebar">
      <div class="app-header" style="display: none; visibility: hidden;">
      </div>
      <div class="position-relative d-flex flex-row flex-fill page-wrapper">
        <div class="page-overlay" style="visibility:hidden;opacity:0"></div>

        <div
          class="position-relative d-flex flex-column flex-fill page-content"
          style="min-width:0"
        >
          <div class="page-inner bg-light ">
            <div class="row">
              <div class="col-xs-16 col-sm-12">
                <div class="mb-5 card">
                  <div class="card-header">
                    <b>Xizmat yaratish</b>
                  </div>
                  <div class="card-body">
                    <form method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                        <label class="">xizmat</label>
                        <input
                          class="form-control"
                          value="{{cell.title}}"
                          id="exampleEmail"
                          name="title"
                          placeholder="xizmat"
                          type="title"
                        />
                      </div>

                      <div class="form-group">
                        <label class="" >xizmat malumoti</label>
                        <input
                          class="form-control"
                          value="{{cell.info}}"
                          id="examplePassword"
                          name="info"
                          placeholder="malumoti"
                        />
                      </div>
                      <div class="form-group">
                        <label class="">belgisi</label>
                        <input class="form-control"
                        name="icon" value="{{cell.icon}}">
                      </div>
                      {% if cell.title %}
                      <button class="btn btn-secondary" type="submit">Yangilash</button>
                      {% else %}
                      <button class="btn btn-secondary" type="submit">Qoshish</button>
                      {% endif %}
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}